// Tags
html {
  overflow-x: hidden;
  box-sizing: border-box;

  &.fixed {
    overflow-y: hidden;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow: hidden;
  min-width: 320px;
  font-family: $font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $black;
  background: $white;
  height: 100vh;
}

a {
  color: $blue2;
  transition: 0.2s;

  &:hover {
    text-decoration: underline;
  }
}

svg {
  fill: $blue2;
  transition: 0.2s;
  height: auto;
}

// ---- Buttons ----
.btn {
  background-color: $blue2;
  padding: 16px 30px;
  border-radius: 2px;
  color: $white;
  transition: 0.3s;

  &:hover {
    background-color: darken($blue2, 10%);
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.btn.btn2 {
  background-color: $blue5;
  color: $blue2;

  &:hover {
    background-color: $blue4;
  }
}

// ---- Forms ----
.form {
  width: 529px;

  .text {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 40px;
  }

  .link {
    font-size: 11px;
    line-height: 18px;
    color: $gray;
    margin-bottom: 40px;

    a {
      color: $gray;
      text-decoration: underline;
    }
  }
}

.error {
  font-size: 12px;
  color: $red;
}

// ---- Tables ----
.table {
  width: 100%;

  thead {
    text-align: left;
    color: rgba($blue2, 0.3);
  }

  tr {
    td,
    th {
      margin-right: 80px;
      padding: 20px;
      vertical-align: middle;

      &::after {
        content: "";
        margin-right: 80px;
      }
    }
  }

  tbody tr {
    border-bottom: 1px solid rgba($blue2, 0.1);

    &:hover {
      background-color: rgba($blue2, 0.05);
    }
  }
}

// ---- Inputs ----
.input {
  .inner {
    position: relative;
    color: $black;


    input,
    textarea {
      font-size: 20px;
      line-height: 23px;
      padding: 10px 13px;
      width: 100%;
      border-bottom: 1px solid $gray2;

      &::placeholder {
        color: $gray;
      }
    }
  }
}

// ScrollBar
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $blue2;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: $white;
}

// Selection
::selection {
  background: rgba($blue2, 0.2);
}
