// ---- Fonts ----
$font: Roboto;

// ---- Colors ----
$white: #ffffff;
$black: #383838;
$blue: #0E65DD;
$blue2: #0B55BB;
$blue3: #F1F6FD;
$blue4: #CEDDF1;
$blue5: #0e5ac5;
$blue6: rgba($blue, 0.35);
$bg: #f1f6fd;
$red: #bd081c;
$red2: rgba($red, 0.5);
$yellow: #ffd740;
$gray: rgba($black, 0.5);

// ---- Mixins ----
