// ---- Fonts ----
$font: Roboto;

// ---- Colors ----
$white: #ffffff;
$black: #333333;
$blue: #0e65dd;
$blue2: #0e5ac5;
$blue3: rgba($blue, 0.5);
$blue4: rgba($blue, 0.08);
$bg: #f1f6fd;
$red: #bd081c;
$red2: rgba($red, 0.5);
$yellow: #ffd740;
$gray: rgba($black, 0.2);

// ---- Mixins ----
